body {
    background-color: grey;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}